@import "tailwindcss";

:root {
  --text-2xs: 0.5rem;
  --text-2xs--line-height: calc(1 / 0.5);
}

.text-2xs {
    font-size: var(--text-2xs);
    line-height: var(--tw-leading, var(--text-2xs--line-height));
}

@font-face {
  font-family: AmazonEmber;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/Amazon_Ember.ttf") format("truetype")
}

@font-face {
  font-family: AmazonEmberBold;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/Amazon_Ember_Bold.ttf") format("truetype")
}

@font-face {
  font-family: AmazonEmberHeavy;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/Amazon_Ember_Heavy.ttf") format("truetype")
}

@theme {
  --font-amazon-enmber: "Amazon Ember", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

.light .react-flow__background-pattern {
  stroke: var(--color-slate-900) !important;
  opacity: .6;
}
.light .react-flow__background {
  background: var(--color-slate-50);
}
.light .react-flow__node.react-flow__node-group {
  border-radius: 1rem;
  border-color: var(--color-slate-400);
}
.dark .react-flow__background {
  background: var(--color-slate-800);
  stroke-width: 1.6;
 }
 .dark .react-flow__background-pattern {
  stroke: var(--color-slate-300) !important;
  opacity: .6;
}
.dark .react-flow__node.react-flow__node-group {
  border-radius: 1rem;
  border-color: var(--color-slate-700);
}